
Django
XlsxWriter
django_crispy_forms
django_formtools
django_import_export
django_reversion_patchman
django_simple_captcha
djangorestframework
future
httplib2
six
xlwt
baidu-aip
coreapi
coreschema
diff-match-patch
django-cors-headers
django-crispy-forms
django-filter
django-guardian
django-import-export
django-rest-swagger
urllib3