
.faceBox-O {
    display: flex;
    justify-content: center;
}

.faceBox-O .faceBox {
    position: absolute;
    margin-top: 70px;
    padding: 2.1% 2.1% 0 2.1%;
    width: 47.8%;
    height: 71.9%;
    background: #ffffff;
    border-radius: 10px;
}

.faceBox-O .faceBox .facevideo {
    display: flex;
    justify-content: center;
}

.faceBox-O .faceBox .three {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5.7%;
}

.faceBox-O .faceBox .three > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.faceBox-O .faceBox .three > div > span {
    font-family: PingFangSC-Regular;
    font-size: 28px;
    color: #1E67D0;
    letter-spacing: 0;
    text-align: center;
}

.faceBox-O .faceBox .btnbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.faceBox-O .faceBox .btnbox button {
    position: absolute;
    bottom: 40px;
    width: 300px;
    height: 70px;
    background: #1E67D0;
    border: none;
    border-radius: 8px;
    font-family: PingFangSC-Regular;
    font-size: 30px;
    color: #ffffff;
    letter-spacing: 0.63px;
    text-align: center;
    line-height: 30px;
}

.backbtn {
    position: absolute;
    left: 4.4%;
    top: 13.5%;
}

.backbtn button {
    border: none;
    background: transparent;
}

.imgreg {
    height: 95%;
    font-family: PingFangSC-Regular;
    padding-top: 2%;
    text-align: center;
}

.imgreg .error {
    text-align: center;
}

.imgreg .error p {
    color: #999999;
    letter-spacing: 0.59px;
    text-align: center;
    line-height: 36px;
}

.imgreg .nameregister {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgreg .nameregister input {
    margin-top: 3%;
    background: #ffffff;
    width: 80%;
    border: 1px solid #DADADA;
    border-radius: 4px;
    font-family: PingFangSC-Regular;
    /*font-size: 26px;*/
    color: #999999;
    letter-spacing: 0;
    line-height: 26px;
    /*text-align: center;*/
}

.imgreg button.one {
    margin-top: 3%;
    /*width: 220px;*/
    /*height: 70px;*/
    border: 1px solid #1E67D0;
    border-radius: 4px;
    font-family: PingFangSC-Regular;
    font-size: 26px;
    color: #1E67D0;
    letter-spacing: 0;
    text-align: center;
    line-height: 26px;
    background: transparent;
}

.imgreg button.two {
    margin-top: 1%;
    width: 220px;
    height: 70px;
    background: #1E67D0;
    border-radius: 4px;
    border: none;
    font-family: PingFangSC-Regular;
    font-size: 26px;
    color: #ffffff;
    letter-spacing: 0;
    text-align: center;
    line-height: 26px;
}

