<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
<div class="layui-container">
    <br>
    <div class="demoTable">
        <div class="layui-row">
            <div class="layui-inline">
                <input class="layui-input" name="id" id="demoReload" autocomplete="off" placeholder="搜索资源名称">
            </div>
            <button class="layui-btn layui-btn-normal" data-type="reload">搜索</button>
            <div id="source_type"></div>
        </div>
    </div>
    <div class="layui-row">
        <table id="demo" class="layui-table" lay-filter="demo">
        </table>
    </div>

</div>

<script src="/static/layui/layui.all.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;

    });
</script>
{#<script type="text/html" id="toolbarDemo">#}
{#    <div class="layui-inline">#}
{#        <input class="layui-input" name="id" id="demoReload" autocomplete="off">#}
{#    </div>#}
{#    <button class="layui-btn layui-btn-normal" data-type="reload">搜索</button>#}
{#</script>#}
<script>
    window.onload = function () {
        layui.use('table', function () {
            var test = window.location.href;
            var table = layui.table;
            var $$ = layui.jquery;
            var source_type = test.split("/sources/sourceExcel/?")[1];
            var source_url='/api/v1/goods/?'+source_type;
            //第一个实例
            table.render({
                elem: '#demo'
                , url: source_url
                , page: true //开启分页
                , limit: 10
                , toolbar: '#toolbarDemo'
                , defaultToolbar: ['filter', 'exports']
                , title: '资源数据表'
                , cols: [[
                    {field: 'id', title: 'ID', width: 80, fixed: 'left', unresize: true, sort: true}
                    , {field: 'sourcename', title: '资源名称', edit: 'text'}
                    , {
                        field: 'sourceurl', title: '资源地址', width: 400, templet: function (res) {
                            return '<a style="color:blue" href="' + res.sourceurl + '">' + res.sourceurl + '</a>'
                        }
                    }
                    , {field: 'code', title: '密码', fixed: 'right'}
                ]],
                id: 'testReload'
            });
            var $ = layui.$, active = {
                reload: function () {
                    var demoReload = $('#demoReload');

                    //执行重载
                    table.reload('testReload', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                        , where: {
                            key: {
                                id: demoReload.val(),
                            }
                        }
                    });
                }
            };

            $('.demoTable .layui-btn').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });

        });
    }
</script>

</body>
</html>