<!-- FlatFy Theme - Andrea Galanti /-->
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="Flatfy Free Flat and Responsive HTML5 Template ">
    <meta name="author" content="">

    <title>首页</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Google Web Font -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom CSS-->
    <link href="/static/css/general.css" rel="stylesheet">

    <!-- Owl-Carousel -->
    <link href="/static/css/custom.css" rel="stylesheet">
    <link href="/static/css/owl.carousel.css" rel="stylesheet">
    <link href="/static/css/owl.theme.css" rel="stylesheet">
    <link href="/static/css/style1.css" rel="stylesheet">
    <link href="/static/css/animate.css" rel="stylesheet">

    <!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" href="/static/css/magnific-popup.css">

    <script src="/static/js/modernizr-2.6.2.min.js"></script>  <!-- Modernizr /-->
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <script src="/static/layui/layui.all.js"></script>
    <script type="text/javascript" src="/static/js/HZRecorders.js"></script>
    <style>
        .voiceBox {
            display: flex;
            justify-content: space-between;
            margin-top: 50px;
            background: #EEF8FE;
            border: 1px solid #63C0FF;
            border-radius: 6px;
            width: auto;
            height: 70px;
        }

        .voiceBox input {
            width: 90%;
            border: none;
            background: transparent;
            font-size: 30px;
            color: #999999;
            letter-spacing: 0;
            text-align: center;
            line-height: 30px;
        }

        .voiceBox button {
            background: transparent;
            border: none;
        }

        .imgreg {
            height: 95%;
            font-family: PingFangSC-Regular;
            padding-top: 2%;
            text-align: center;
        }

        .imgreg button.one {
            margin-top: 3%;
            width: 220px;
            height: 70px;
            border: 1px solid #1E67D0;
            border-radius: 4px;
            font-family: PingFangSC-Regular;
            font-size: 26px;
            color: #1E67D0;
            letter-spacing: 0;
            text-align: center;
            line-height: 26px;
            background: transparent;
        }

        .imgreg button.two {
            margin-top: 1%;
            width: 220px;
            height: 70px;
            background: #1E67D0;
            border-radius: 4px;
            border: none;
            font-family: PingFangSC-Regular;
            font-size: 26px;
            color: #ffffff;
            letter-spacing: 0;
            text-align: center;
            line-height: 26px;
        }

        #dropdownMenu1 {
            line-height: 43px;
        }

        .dropdown {
            text-align: center;
        }
    </style>
</head>

<body id="home">

<!-- Preloader -->
<div id="preloader">
    <div id="status"></div>
</div>

<!-- FullScreen -->
<div class="intro-header">
    <div class="col-xs-12 text-center abcen1">
        <h1 class="h1_home wow fadeIn" data-wow-delay="0.4s">AIGIS</h1>
        <h3 class="h3_home wow fadeIn" data-wow-delay="0.6s">AI & GIS</h3>
        <!-- <ul class="list-inline intro-social-buttons">
            <li><a href="https://twitter.com/galantiandrea" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.8s"><span class="network-name">Twitter</span></a>
            </li>
            <li id="download" ><a href="#downloadlink" class="btn  btn-lg mybutton_standard wow swing wow fadeIn" data-wow-delay="1.2s"><span class="network-name">Free Download</span></a>
            </li>
        </ul> -->
    </div>
    <!-- /.container -->
    <div class="col-xs-12 text-center abcen wow fadeIn">
        <div class="button_down ">
            <a class="imgcircle wow bounceInUp" data-wow-duration="1.5s" href="#whatis"> <img class="img_scroll"
                                                                                              src="/static/img/icon/circle.png"
                                                                                              alt=""> </a>
        </div>
    </div>
</div>

<!-- NavBar-->
<nav class="navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#home">AIGIS</a>
        </div>

        <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
            <ul class="nav navbar-nav" id="hello_django">

                <li class="menuItem"><a href="#whatis">这是什么?</a></li>
                <li class="menuItem"><a href="#useit">作品</a></li>
                {#                <li class="menuItem"><a href="#screen">Screenshot</a></li>#}
                <li class="menuItem"><a href="#credits">资源</a></li>
                <li class="menuItem"><a href="#contact">联系我</a></li>
                {% if request.user.is_authenticated %}
                    <li class="menuItem">
                        <div class="dropdown">
                            <div type="button" class="btn dropdown-toggle" id="dropdownMenu1"
                                 data-toggle="dropdown" data-hover="dropdown">
                                {{ user_name }}
                                <span class="caret"></span>
                            </div>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">基本资料</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">安全设置</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="menuItem"><a href="{% url 'logout' %}">退出</a></li>
                {% else %}
                    <li class="menuItem"><a href="{% url 'register' %}">注册</a></li>
                    <li class="menuItem"><a href="{% url 'login' %}">登录</a></li>
                {% endif %}
            </ul>
        </div>

    </div>
</nav>

<!-- What is -->
<div id="whatis" class="content-section-b" style="border-top: 0">
    <div class="container">

        <div class="col-md-6 col-md-offset-3 text-center wrap_title">
            <h2>这是什么?</h2>
            <p class="lead" style="margin-top:0">这是一个关于AI和GIS的地方</p>

        </div>

        <div class="row">

            <div class="col-sm-4 wow fadeInDown text-center">
                <img class="rotate" src="/static/img/icon/tweet.svg" alt="Generic placeholder image">
                <h3>语音识别</h3>
                <p class="lead">点击开始然后点停止就好了！
                <div class="voiceBox">
                    <input id="questions" name="code" type="text" placeholder="点话筒试试">
                    <button onclick="startRecord()"><img src="../static/img/voice.png"></button>
                    <audio controls autoplay hidden></audio>

                </div>
                </p>

                <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
            </div><!-- /.col-lg-4 -->

            <div class="col-sm-4 wow fadeInDown text-center">
                <img class="rotate" src="/static/img/icon/picture.svg" alt="Generic placeholder image">
                <h3>图像识别</h3>
                <p class="lead">
                    <div class="layui-upload-drag" id="test10">
                        <i class="layui-icon"></i>
                <p>点击上传，或将文件拖拽到此处</p>
            </div>
            </p>
            <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
        </div><!-- /.col-lg-4 -->

        <div class="col-sm-4 wow fadeInDown text-center">
            <img class="rotate" src="/static/img/icon/retina.svg" alt="Generic placeholder image">
            <h3>推荐算法</h3>
            <p class="lead">Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla
                congolium sic ad nauseum. </p>
            <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
        </div><!-- /.col-lg-4 -->

    </div><!-- /.row -->

    <div class="row tworow">

        <div class="col-sm-4  wow fadeInDown text-center">
            <img class="rotate" src="/static/img/icon/laptop.svg" alt="Generic placeholder image">
            <h3>机器学习</h3>
            <p class="lead">Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla
                congolium sic ad nauseum. </p>
            <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
        </div><!-- /.col-lg-4 -->

        <div class="col-sm-4 wow fadeInDown text-center">
            <a href="/map/">
                <img class="rotate" src="/static/img/icon/map.svg" alt="Generic placeholder image">
                <h3>地图</h3>
                <p class="lead">加载各种的地图</p>
            </a>
            <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
        </div><!-- /.col-lg-4 -->

        <div class="col-sm-4 wow fadeInDown text-center">
            <img class="rotate" src="/static/img/icon/browser.svg" alt="Generic placeholder image">
            <h3>网络爬虫</h3>
            <p class="lead">Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla
                congolium sic ad nauseum. </p>
            <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
        </div><!-- /.col-lg-4 -->

    </div><!-- /.row -->
</div>
</div>

<!-- Use it -->
<div id="useit" class="content-section-a">

    <div class="container">

        <div class="row">

            <div class="col-sm-6 pull-right wow fadeInRightBig">
                <img class="img-responsive " src="/static/img/ipad.png" alt="">
            </div>

            <div class="col-sm-6 wow fadeInLeftBig" data-animation-delay="200">
                <h3 class="section-heading">文字识别</h3>
                <div class="sub-title lead3">Lorem ipsum dolor sit atmet sit dolor greand fdanrh<br> sdfs sit atmet sit
                    dolor greand fdanrh sdfs
                </div>
                <p class="lead">
                    In his igitur partibus duabus nihil erat, quod Zeno commuta rest gestiret.
                    Sed virtutem ipsam inchoavit, nihil ampliusuma. Scien tiam pollicentur,
                    uam non erat mirum sapientiae lorem cupido
                    patria esse cariorem. Quae qui non vident, nihilamane umquam magnum ac cognitione.
                </p>

                <p><a class="btn btn-embossed btn-primary" href="#" role="button">View Details</a>
                    <a class="btn btn-embossed btn-info" href="#" role="button">Visit Website</a></p>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>

<div class="content-section-b">

    <div class="container">
        <div class="row">
            <div class="col-sm-6 wow fadeInLeftBig">
                <div id="owl-demo-1" class="owl-carousel">
                    <a href="/static/img/iphone.png" class="image-link">
                        <div class="item">
                            <img class="img-responsive img-rounded" src="/static/img/iphone.png" alt="">
                        </div>
                    </a>
                    <a href="/static/img/iphone.png" class="image-link">
                        <div class="item">
                            <img class="img-responsive img-rounded" src="/static/img/iphone.png" alt="">
                        </div>
                    </a>
                    <a href="/static/img/iphone.png" class="image-link">
                        <div class="item">
                            <img class="img-responsive img-rounded" src="/static/img/iphone.png" alt="">
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-sm-6 wow fadeInRightBig" data-animation-delay="200">
                <h3 class="section-heading">邮件筛选</h3>
                <div class="sub-title lead3">Lorem ipsum dolor sit atmet sit dolor greand fdanrh<br> sdfs sit atmet sit
                    dolor greand fdanrh sdfs
                </div>
                <p class="lead">
                    In his igitur partibus duabus nihil erat, quod Zeno commuta rest gestiret.
                    Sed virtutem ipsam inchoavit, nihil ampliusuma. Scien tiam pollicentur,
                    uam non erat mirum sapientiae lorem cupido
                    patria esse cariorem. Quae qui non vident, nihilamane umquam magnum ac cognitione.
                </p>

                <p><a class="btn btn-embossed btn-primary" href="#" role="button">View Details</a>
                    <a class="btn btn-embossed btn-info" href="#" role="button">Visit Website</a></p>
            </div>
        </div>
    </div>
</div>

<div class="content-section-a">

    <div class="container">

        <div class="row">

            <div class="col-sm-6 pull-right wow fadeInRightBig">
                <img class="img-responsive " src="/static/img/doge.png" alt="">
            </div>

            <div class="col-sm-6 wow fadeInLeftBig" data-animation-delay="200">
                <h3 class="section-heading">物体识别</h3>
                <p class="lead">A special thanks to Death to the Stock Photo for
                    providing the photographs that you see in this template.
                </p>

                <ul class="descp lead2">
                    <li><i class="glyphicon glyphicon-signal"></i> Reliable and Secure Platform</li>
                    <li><i class="glyphicon glyphicon-refresh"></i> Everything is perfectly orgainized for future</li>
                    <li><i class="glyphicon glyphicon-headphones"></i> Attach large file easily</li>
                </ul>
            </div>
        </div>
    </div>

</div>

<div class="content-section-c">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center wrap_title white">
                <h2>非常感谢</h2>
                <p class="lead" style="margin-top:0">能看这么久也是不容易</p>
            </div>
            <div class="mockup-content">
                <div class="morph-button wow pulse morph-button-inflow morph-button-inflow-1">
                    <button type="button "><span>Subscribe to our Newsletter</span></button>
                    <div class="morph-content">
                        <div>
                            <div class="content-style-form content-style-form-4 ">
                                <h2 class="morph-clone"><a href="#credits">下面将是一些资源与个人信息</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Credits -->
<div id="credits" class="content-section-a">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-md-offset-3 text-center wrap_title">
                <h2>资源</h2>
                <p class="lead" style="margin-top:0">一些收集的资源</p>
            </div>

            <div class="col-sm-6  block wow bounceIn">
                <a href="https://www.baidu.com">
                    <div class="row">

                        <div class="col-md-4 box-icon rotate">
                            <i class="fa fa-desktop fa-4x "> </i>
                        </div>
                        <div class="col-md-8 box-ct">
                            <h3> 视频资源 </h3>
                            <p> Lorem ipsum dolor sit ametconsectetur adipiscing elit. Suspendisse orci quam. </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 block wow bounceIn">
                <div class="row">
                    <div class="col-md-4 box-icon rotate">
                        <i class="fa fa-picture-o fa-4x "> </i>
                    </div>
                    <div class="col-md-8 box-ct">
                        <h3> 专业资源 </h3>
                        <p> Nullam mo arcu ac molestie scelerisqu vulputate, molestie ligula gravida, tempus ipsum.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row tworow">
            <div class="col-sm-6  block wow bounceIn">
                <div class="row">
                    <div class="col-md-4 box-icon rotate">
                        <i class="fa fa-magic fa-4x "> </i>
                    </div>
                    <div class="col-md-8 box-ct">
                        <h3> 办公资源 </h3>
                        <p> Lorem ipsum dolor sit ametconsectetur adipiscing elit. Suspendisse orci quam. </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 block wow bounceIn">
                <div class="row">
                    <div class="col-md-4 box-icon rotate">
                        <i class="fa fa-heart fa-4x "> </i>
                    </div>
                    <div class="col-md-8 box-ct">
                        <h3> 编程资源</h3>
                        <p> Nullam mo arcu ac molestie scelerisqu vulputate, molestie ligula gravida, tempus ipsum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Banner Download -->
<div id="downloadlink" class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center wrap_title">
                <h2>免费下载</h2>
                <p class="lead" style="margin-top:0"><b>关注公众号更方便搜索资源</b></p>
                <p><img src="/static/images/qrcode_for_weixin.jpg" alt="" style=""></p>
            </div>
        </div>
    </div>
</div>

<!-- Contact -->
<div id="contact" class="content-section-a">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-md-offset-3 text-center wrap_title">
                <h2>联系我</h2>
                <p class="lead" style="margin-top:0">还是你联系我吧</p>
            </div>

            <form role="form" action="" method="post">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="InputName">名称</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="InputName" id="InputName"
                                   placeholder="请输入用户名" required>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="InputEmail">邮箱</label>
                        <div class="input-group">
                            <input type="email" class="form-control" id="InputEmail" name="InputEmail"
                                   placeholder="请输入你的邮箱" required>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="InputMessage">信息</label>
                        <div class="input-group">
                            <textarea name="InputMessage" id="InputMessage" class="form-control" rows="5"
                                      required></textarea>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                        </div>
                    </div>

                    <input type="submit" name="submit" id="submit" value="提交"
                           class="btn wow tada btn-embossed btn-primary pull-right">
                </div>
            </form>

            <hr class="featurette-divider hidden-lg">
            <div class="col-md-5 col-md-push-1 address">
                <address>
                    <h3>我的信息</h3>
                    <p class="lead"><a href="">深圳市<br>
                        南山区,蛇口水湾</a><br>
                        Phone: 187-7091-3143<br>
                        Email: gonghaineng@gmail.com</p>
                </address>

                {#                <h3>Social</h3>#}
                {#                <li class="social">#}
                {#                    <a href="#"><i class="fa fa-facebook-square fa-size"> </i></a>#}
                {#                    <a href="#"><i class="fa  fa-twitter-square fa-size"> </i> </a>#}
                {#                    <a href="#"><i class="fa fa-google-plus-square fa-size"> </i></a>#}
                {#                    <a href="#"><i class="fa fa-flickr fa-size"> </i> </a>#}
                {#                </li>#}
            </div>
        </div>
    </div>
</div>


<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h3 class="footer-title">最后的最后</h3>
                {#                <p>Vuoi ricevere news su altri template?<br/>#}
                {#                    Visita Andrea Galanti.it e vedrai tutte le news riguardanti nuovi Theme!<br/>#}
                {#                    Go to: <a href="http://andreagalanti.it" target="_blank">andreagalanti.it</a> More Templates <a#}
                {#                            href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a#}
                {#                            href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>#}
                {#                </p>#}

                <!-- LICENSE -->
                <a rel="license" href="#"> Cenergy</a>.
                is licensed to the public under
                the <a rel="license" href="#"> MIT</a>.


            </div> <!-- /col-xs-7 -->

            <div class="col-md-5">
                <div class="footer-banner">
                    <h3 class="footer-title">关于小站</h3>
                    <ul>
                        <li>地理信息</li>
                        <li>人工智能</li>
                        <li>机器学习</li>
                        <li>深度学习</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</footer>

<!-- JavaScript -->
<script src="/static/js/jquery-1.10.2.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/owl.carousel.js"></script>
<script src="/static/js/script.js"></script>
<!-- StikyMenu -->
<script src="/static/js/stickUp.min.js"></script>
<script type="text/javascript">
    jQuery(function ($) {
        $(document).ready(function () {
            $('.navbar-default').stickUp();

        });
    });

</script>
<!-- Smoothscroll -->
<script type="text/javascript" src="/static/js/jquery.corner.js"></script>
<script src="/static/js/wow.min.js"></script>
<script>
    new WOW().init();
</script>
<script src="/static/js/classie.js"></script>
<script src="/static/js/uiMorphingButton_inflow.js"></script>
<!-- Magnific Popup core JS file -->
<script src="/static/js/jquery.magnific-popup.js"></script>
<script>
    let recorder;

    function startRecord() {
        HZRecorder.get(function (rec) {
            recorder = rec;
            recorder.start();
            //开始录音后就可以实时监视声音录制过程
            recorder.onProgress(function (vol) {
                {#console.log(vol)#}
            })
        });
        layer.open({
            type: 1,
            title: '',
            closeBtn: 0,
            area: ['25.4rem', '8.7rem'],
            shade: [0.8, '#393d49'],
            content:
            '<div class="imgreg" id="imgreg">' +
            '    <button id="two" class="two" onclick="stopRecord()">停止录音</button>' +
            '</div>',
            cancel: function () {
                window.location.reload();
            }
        });
    }

    function stopRecord() {
        recorder.stop();
        recorder.upload(function (blob) {
            //data 对象为录音后的音频数据！！
            var formData = new FormData();

            formData.append("username", "Groucho");

            let reader = new window.FileReader();
            reader.readAsDataURL(blob);
            reader.onloadend = function () {
                data = reader.result;
                formData.append("webmasterfile", data);
                $.ajax({
                    url: /get_voices/,
                    type: 'POST',
                    data: formData,
                    // 告诉jQuery不要去处理发送的数据
                    processData: false,
                    // 告诉jQuery不要去设置Content-Type请求头
                    contentType: false,
                    success: function (res) {
                        var index = layer.msg('正在识别中，请稍后!！', {icon: 20});
                        $.ajax({
                            url: "/BANAJAX/",
                            type: 'POST',
                            dataType: 'json',
                            success: function (res) {
                                $('#questions').val(res.datas);
                                layer.close(index);
                            },
                            error: function (res) {
                                console.log(res)
                            }
                        })

                    },
                    error: function (error) {
                        console.log("error");
                    }
                });
            }

        });
        layer.closeAll();
    }
</script>
{#图片识别的#}
<script>
    layui.use('upload', function () {
        var $ = layui.jquery
            , upload = layui.upload;
        var formData = new FormData();

        //拖拽上传
        upload.render({
            elem: '#test10'
            , url: '/sources/upload/'
            , accept: 'images'
            , before: function (obj) {
                obj.preview(function (index, file, result) {
                    $('#test10').attr('src', result); //图片链接（base64）
                    var abc=$('#test10').attr('src')
                    formData.append("hello", abc);
                });
            }
            , data: {
                id: function () {
                    return $('#test10').attr("src");
                },
                "abc":formData
            }
            , done: function (res) {
                console.log(res)
            },
            error: function (res) {
                console.log(res)
            }
        });
    });
</script>
</body>

</html>
