<!-- FlatFy Theme - Andrea Galanti /-->
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="这是一个AI与GIS的网站，致力于资源的搜索与功能的探索。">
    <meta name="baidu-site-verification" content="of4zUNeIdU"/>
    <meta name="author" content="">

    <title>首页</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico" />

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Google Web Font -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom CSS-->
    <link href="/static/css/general.css" rel="stylesheet">

    <!-- Owl-Carousel -->
    <link href="/static/css/custom.css" rel="stylesheet">
    <link href="/static/css/owl.carousel.css" rel="stylesheet">
    <link href="/static/css/owl.theme.css" rel="stylesheet">
    <link href="/static/css/style1.css" rel="stylesheet">
    <link href="/static/css/animate.css" rel="stylesheet">

    <!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" href="/static/css/magnific-popup.css">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <style>
        .voiceBox {
            display: flex;
            justify-content: space-between;
            margin-top: 50px;
            background: #EEF8FE;
            border: 1px solid #63C0FF;
            border-radius: 6px;
            width: auto;
            height: 70px;
        }

        .voiceBox input {
            width: 90%;
            border: none;
            background: transparent;
            font-size: 30px;
            color: #999999;
            letter-spacing: 0;
            text-align: center;
            line-height: 30px;
        }

        .voiceBox button {
            background: transparent;
            border: none;
        }

        .imgreg {
            height: 95%;
            font-family: PingFangSC-Regular;
            padding-top: 2%;
            text-align: center;
        }

        .imgreg button.one {
            margin-top: 3%;
            width: 220px;
            height: 70px;
            border: 1px solid #1E67D0;
            border-radius: 4px;
            font-family: PingFangSC-Regular;
            font-size: 26px;
            color: #1E67D0;
            letter-spacing: 0;
            text-align: center;
            line-height: 26px;
            background: transparent;
        }

        .imgreg button.two {
            margin-top: 1%;
            width: 220px;
            height: 70px;
            background: #1E67D0;
            border-radius: 4px;
            border: none;
            font-family: PingFangSC-Regular;
            font-size: 26px;
            color: #ffffff;
            letter-spacing: 0;
            text-align: center;
            line-height: 26px;
        }

        #dropdownMenu1 {
            line-height: 43px;
        }

        .dropdown {
            text-align: center;
        }

        .layui-upload-drag {
            border: 1px solid #63C0FF;
            border-style: dashed;
        }
        .useit{
            background-color: #f8f8f8 ;
        }
    </style>
</head>

<body id="home">

<!-- Preloader -->
<div id="preloader">
    <div id="status"></div>
</div>

<!-- FullScreen -->
<div class="intro-header">
    <div class="col-xs-12 text-center abcen1">
        <h1 class="h1_home wow fadeIn" data-wow-delay="0.4s">AIGISSS</h1>
        <h4 class="h4_home wow fadeIn" data-wow-delay="0.6s">爱即是诗</h4>
        <h3 class="h3_home wow fadeIn" data-wow-delay="0.6s">AI & GIS</h3>
        <!-- <ul class="list-inline intro-social-buttons">
             <li><a href="#contact" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.8s"><span class="network-name">联系我</span></a>
             </li>
             <li id="download" ><a href="#downloadlink" class="btn  btn-lg mybutton_standard wow swing wow fadeIn" data-wow-delay="1.2s"><span class="network-name">关注公众号</span></a>
             </li>
         </ul>-->
    </div>
    <!-- /.container -->
    <div class="col-xs-12 text-center abcen wow fadeIn">
        <div class="button_down ">
            <a class="imgcircle wow bounceInUp" data-wow-duration="1.5s" href="#whatis"> <img class="img_scroll"
                                                                                              src="/static/img/icon/circle.png"
                                                                                              alt=""> </a>
        </div>
    </div>
</div>

<!-- NavBar-->
<nav class="navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#home">AIGISSS爱即是诗</a>
        </div>

        <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
            <ul class="nav navbar-nav" id="hello_django">

                <li class="menuItem"><a href="#whatis">这是什么?</a></li>
                <li class="menuItem"><a href="#useit">博客</a></li>
                {#                <li class="menuItem"><a href="#screen">Screenshot</a></li>#}
                <li class="menuItem"><a href="#credits">资源</a></li>
                <li class="menuItem"><a href="#contact">联系我</a></li>
                {% if request.user.is_authenticated %}
                    <li class="menuItem">
                        <div class="dropdown">
                            <div type="button" class="btn dropdown-toggle" id="dropdownMenu1"
                                 data-toggle="dropdown" data-hover="dropdown">
                                {% ifnotequal user_name " " %}
                                    {{ user_name }}
                                {% else %}
                                    admin
                                {% endifnotequal %}
                                <span class="caret"></span>
                            </div>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">基本资料</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">安全设置</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="menuItem"><a href="{% url 'logout' %}">退出</a></li>
                {% else %}
                    <li class="menuItem"><a href="{% url 'register' %}">注册</a></li>
                    <li class="menuItem"><a href="{% url 'login' %}">登录</a></li>
                {% endif %}
            </ul>
        </div>

    </div>
</nav>

<!-- What is -->
<div id="whatis" class="content-section-b" style="border-top: 0">
    <div class="container">

        <div class="col-md-6 col-md-offset-3 text-center wrap_title">
            <h2>这是什么?</h2>
            <p class="lead" style="margin-top:0">一个关于AI和GIS的地方</p>

        </div>

        <div class="row">

            <div class="col-sm-4 wow fadeInDown text-center">
                <img class="rotate" src="/static/img/icon/tweet.svg" alt="Generic placeholder image">
                <h3>语音识别</h3>
                <p class="lead">点击开始录音识别，<br>再次点击即可停止录音！
                <div class="voiceBox">
                    <input id="questions" name="code" type="text" placeholder="点话筒试试">
                    <button onclick="startRecord()"><img src="../static/img/voice.png"></button>
                    <audio controls autoplay hidden></audio>

                </div>
                </p>

                <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
            </div><!-- /.col-lg-4 -->

            <div class="col-sm-4 wow fadeInDown text-center">
                <img class="rotate" src="/static/img/icon/picture.svg" alt="Generic placeholder image">
                <h3>文字识别</h3>
                <p class="lead">
                    <div class="layui-upload-drag" id="test10">
                        <i class="layui-icon"></i>
                <p>点击上传图片或将图片拖到此处</p>
            </div>
            </p>
            <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
        </div><!-- /.col-lg-4 -->

        <div class="col-sm-4 wow fadeInDown text-center">
            <img class="rotate" src="/static/img/icon/retina.svg" alt="Generic placeholder image">
            <h3>人脸识别</h3>
            <p class="lead">本功能针对那些账号与人脸绑定的用户，再次访问本站可以快速登录
            <div>
                <a href="{% url 'facereg' %}">
                    <button type="button" class="layui-btn layui-btn-radius layui-btn-warm"
                            login-data="{{ login_type }}"><b>
                        {% if login_type == 1 %}
                            <i class="layui-icon layui-icon-face-surprised"></i>人脸关联
                        {% elif login_type == 2 %}
                            <i class="layui-icon layui-icon-face-surprised"></i>人脸识别
                        {% else %}
                            <i class="layui-icon layui-icon-face-surprised"></i>快速人脸登录
                        {% endif %}

                    </b></button>
                </a>
                </span>

            </div>
            </p>
            <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
        </div><!-- /.col-lg-4 -->

    </div><!-- /.row -->

    <div class="row tworow">

        <div class="col-sm-4  wow fadeInDown text-center">
            <img class="rotate" src="/static/img/icon/laptop.svg" alt="Generic placeholder image">
            <h3>机器学习</h3>
            <p class="lead">Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla
                congolium sic ad nauseum. </p>
            <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
        </div><!-- /.col-lg-4 -->

        <div class="col-sm-4 wow fadeInDown text-center">
            <a href="/map/">
                <img class="rotate" src="/static/img/icon/map.svg" alt="Generic placeholder image">
                <h3>地图</h3>
                <p class="lead">加载各种地图</p>
            </a>
            <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
        </div><!-- /.col-lg-4 -->

        <div class="col-sm-4 wow fadeInDown text-center">
            <img class="rotate" src="/static/img/icon/browser.svg" alt="Generic placeholder image">
            <h3>图表转换</h3>
            <p class="lead">
                点击上传含有表格的图片
            <div>
                <button type="button" class="layui-btn layui-btn-normal" id="test7">
                    <i class="layui-icon"></i>上传图片
                    <span class="layui-badge" id="limit_count">
                        {% if num_count < 0 %}
                            0
                        {% else %}
                            {{ num_count }}
                        {% endif %}
                        </span>
                </button>
                <span id="img2excel">
                </span>

            </div>
            </p>
            <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
        </div><!-- /.col-lg-4 -->

    </div><!-- /.row -->
</div>
</div>

<!-- Use it -->
<div id="useit" class="useit">
    <div class="col-md-6 col-md-offset-3 text-center wrap_title" style="background-color: #f8f8f8;">
        <h2 style="background-color: #f8f8f8;padding-top: 80px">博客</h2>
        <p class="lead" style="margin-top:0;background-color: #f8f8f8">一些技术文档与博客</p>
    </div>


</div>

<div class="content-section-c">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center wrap_title white">
                <h2>非常感谢</h2>
                <p class="lead" style="margin-top:0">能看这么久也是不容易</p>
            </div>
            <div class="mockup-content">
                <div class="morph-button wow pulse morph-button-inflow morph-button-inflow-1">
                    <button type="button "><span>Subscribe to our Newsletter</span></button>
                    <div class="morph-content">
                        <div>
                            <div class="content-style-form content-style-form-4 ">
                                <h2 class="morph-clone"><a href="#credits">下面将是一些资源与个人信息</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Credits -->
<div id="credits" class="content-section-a">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-md-offset-3 text-center wrap_title">
                <h2>资源</h2>
                <p class="lead" style="margin-top:0">一些收集的资源</p>
            </div>

            <div class="col-sm-6  block wow bounceIn">
                <a href="javascript:void(0)" source-type="1" class="source_core">
                    <div class="row">

                        <div class="col-md-4 box-icon rotate">
                            <i class="fa fa-desktop fa-4x "> </i>
                        </div>
                        <div class="col-md-8 box-ct">
                            <h3> 视频资源 </h3>
                            <p>看过比较好的学习视频或者娱乐视频。<br>若侵权，邮件告知，删之。</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 block wow bounceIn">
                <a href="javascript:void(0)" source-type="2" class="source_core">
                    <div class="row">
                        <div class="col-md-4 box-icon rotate">
                            <i class="fa fa-picture-o fa-4x "> </i>
                        </div>
                        <div class="col-md-8 box-ct">
                            <h3> 专业资源 </h3>
                            <p>关于GIS或者一些AI的资源。<br>若失效，邮件告知，加之。</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="row tworow">
            <div class="col-sm-6  block wow bounceIn">
                <a href="javascript:void(0)" source-type="3" class="source_core">
                    <div class="row">
                        <div class="col-md-4 box-icon rotate">
                            <i class="fa fa-magic fa-4x "> </i>
                        </div>
                        <div class="col-md-8 box-ct">
                            <h3> 软件资源 </h3>
                            <p> 办公软件及各种软件</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 block wow bounceIn">
                <a href="javascript:void(0)" source-type="0" class="source_core">
                    <div class="row">
                        <div class="col-md-4 box-icon rotate">
                            <i class="fa fa-heart fa-4x "> </i>
                        </div>
                        <div class="col-md-8 box-ct">
                            <h3> 其他资源</h3>
                            <p>其他资源，但是无论在哪个搜索框都可以搜到！！</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Banner Download -->
<div id="downloadlink" class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center wrap_title">
                <h2>免费下载</h2>
                <p class="lead" style="margin-top:0"><b>关注公众号更方便搜索资源</b></p>
                <p><img src="/static/images/qrcode_for_weixin.jpg" alt="" style=""></p>
            </div>
        </div>
    </div>
</div>

<!-- Contact -->
<div id="contact" class="content-section-a">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-md-offset-3 text-center wrap_title">
                <h2>联系我</h2>
                <p class="lead" style="margin-top:0">提提您的建议或意见</p>
            </div>

            <div role="form">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="InputName">名称</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="InputName" id="InputName"
                                   placeholder="请输入用户名(选填)">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="InputEmail">邮箱</label>
                        <div class="input-group">
                            <input type="email" class="form-control" id="InputEmail" name="InputEmail"
                                   placeholder="请输入你的邮箱" required value="{{ user_name }}">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="InputMessage">内容</label>
                        <div class="input-group">
                            <textarea name="InputMessage" id="InputMessage" class="form-control" rows="5"
                                      required></textarea>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                        </div>
                    </div>

                    <input type="submit" name="submit" id="Inputsubmit" value="提交"
                           class="btn wow tada btn-embossed btn-primary pull-right" style="float:right">
                </div>
            </div>

            <hr class="featurette-divider hidden-lg">
            <div class="col-md-5 col-md-push-1 address">
                <address>
                    <h3>我的信息</h3>
                    <p class="lead"><a href="">深圳市<br>
                        南山区,蛇口水湾</a><br>
                        Phone: 187-7091-3143<br>
                        Email: 673598118@qq.com</p>
                </address>

                {#                                <h3>Social</h3>#}
                {#                                <li class="social">#}
                {#                                    <a href="#"><i class="fa fa-facebook-square fa-size"> </i></a>#}
                {#                                    <a href="#"><i class="fa  fa-twitter-square fa-size"> </i> </a>#}
                {#                                    <a href="#"><i class="fa fa-google-plus-square fa-size"> </i></a>#}
                {#                                    <a href="#"><i class="fa fa-flickr fa-size"> </i> </a>#}
                {#                                </li>#}
            </div>
        </div>
    </div>
</div>


<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h3 class="footer-title">最后的最后</h3>
                <p>友情链接！<br/>
                    <a href="http://baidu.com" target="_blank">baidu.it</a><br>
                    <a href="http://www.baidu.com/" target="_blank" title="baidu">百度</a><br>
                    <a href="http://www.baidu.com/" title="baidu" target="_blank">百度</a>
                </p>

                <!-- LICENSE -->
                ©2018 爱即是诗版权所有 <a rel="license" href="http://www.miitbeian.gov.cn/">赣ICP备18013338号</a>
                {#                the <a rel="license" href="#"> MIT</a>.#}


            </div> <!-- /col-xs-7 -->

            <div class="col-md-5">
                <div class="footer-banner">
                    <h3 class="footer-title">关于小站</h3>
                    <ul>
                        <li>地理信息</li>
                        <li>人工智能</li>
                        <li>机器学习</li>
                        <li>深度学习</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</footer>

<!-- JavaScript -->
<script src="/static/js/modernizr-2.6.2.min.js"></script>  <!-- Modernizr /-->
<script src="/static/layui/layui.all.js"></script>
<script type="text/javascript" src="/static/js/HZRecorders.js"></script>
<script src="/static/js/jquery-1.10.2.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/owl.carousel.js"></script>
<script src="/static/js/script.js"></script>
<!-- StikyMenu -->
<script src="/static/js/stickUp.min.js"></script>
<script type="text/javascript">
    jQuery(function ($) {
        $(document).ready(function () {
            $('.navbar-default').stickUp();

        });
    });

</script>
<!-- Smoothscroll -->
<script type="text/javascript" src="/static/js/jquery.corner.js"></script>
<script src="/static/js/wow.min.js"></script>
<script>
    new WOW().init();
</script>
<script src="/static/js/classie.js"></script>
<script src="/static/js/uiMorphingButton_inflow.js"></script>
<!-- Magnific Popup core JS file -->
<script src="/static/js/jquery.magnific-popup.js"></script>
<script>
    let recorder;

    function startRecord() {
        HZRecorder.get(function (rec) {
            recorder = rec;
            recorder.start();
            //开始录音后就可以实时监视声音录制过程
            recorder.onProgress(function (vol) {
                {#console.log(vol)#}
            })
        });
        layer.open({
            type: 1,
            title: '',
            closeBtn: 0,
            area: ['25.4rem', '8.7rem'],
            shade: [0.8, '#393d49'],
            content:
            '<div class="imgreg" id="imgreg">' +
            '    <button id="two" class="two" onclick="stopRecord()">停止录音</button>' +
            '</div>',
            cancel: function () {
                window.location.reload();
            }
        });
    }

    function stopRecord() {
        recorder.stop();
        recorder.upload(function (blob) {
            //data 对象为录音后的音频数据！！
            var formData = new FormData();

            formData.append("username", "Groucho");

            let reader = new window.FileReader();
            reader.readAsDataURL(blob);
            reader.onloadend = function () {
                data = reader.result;
                formData.append("webmasterfile", data);
                $.ajax({
                    url: /get_voices/,
                    type: 'POST',
                    data: formData,
                    // 告诉jQuery不要去处理发送的数据
                    processData: false,
                    // 告诉jQuery不要去设置Content-Type请求头
                    contentType: false,
                    success: function (res) {
                        var index = layer.msg('正在识别中，请稍后!！', {icon: 20});
                        $.ajax({
                            url: "/BANAJAX/",
                            type: 'POST',
                            dataType: 'json',
                            success: function (res) {
                                $('#questions').val(res.datas);
                                layer.close(index);
                            },
                            error: function (res) {
                                console.log(res)
                            }
                        })

                    },
                    error: function (error) {
                        console.log("error");
                    }
                });
            }

        });
        layer.closeAll();
    }
</script>
{#图片识别的#}
<script>
    layui.use('upload', function () {
        var $ = layui.jquery
            , upload = layui.upload;
        //拖拽上传
        upload.render({
            elem: '#test10'
            , url: '/sources/upload/'
            , accept: 'images'
            , before: function (obj) {
                let img_tips0 = layer.msg("正在解析中", {time: 20000});
                obj.preview(function (index, file, result) {
                    $('#test10').attr('src', result); //图片链接（base64）
                    this.data = {
                        "imgbase64": $('#test10').attr('src')
                    };
                });

            }
            , done: function (res) {
                if (res.code == 400) {
                    let img_tips = layer.msg("正在解析中", {time: 20000});
                    $.ajax({
                        url: "/sources/img2words/",
                        type: "POST",
                        data: {idname: 'abc'},
                        success: function (res) {
                            layer.close(img_tips);
                            let reswords = res.data.vector_words;
                            let resurl = res.data.imgpath;
                            layer.open({
                                title: "识别结果",
                                type: 2,
                                content: "/sources/img2wordRes/#resTxt",
                                area: ['80%', '80%'],
                                btn: ['关闭'],
                                {#父页面向子页面传值#}
                                success: function (layero, index) {
                                    let body = layer.getChildFrame('body', index);
                                    body.find('#resTxt').html(reswords);
                                    body.find('#pic').attr('src', resurl);
                                },
                                closeBtn: 0,
                                end: function () {
                                    $.ajax({
                                        url: "/sources/img2words/",
                                        type: "GET",
                                        data: {idname: 'abc'},
                                        success: function (res) {
                                            console.log(res.data)
                                        }
                                    })
                                }
                            });
                        },
                        error: function () {
                            layer.msg("服务器内部错误", {time: 2000})
                        }
                    })
                } else {

                }
            },
            error: function (res) {
                console.log(res)
            }
        });
    });
</script>
{#图表转换#}
<script>
    layui.use('upload', function () {
        var $ = layui.jquery
            , upload = layui.upload;

        //设定文件大小限制
        upload.render({
            elem: '#test7'
            , url: '/sources/upload/'
            , accept: 'images'
            , before: function (res) {
                let excel_tip0 = layer.msg("正在生成中", {time: 20000});
                $("#img2excel").empty();
            }
            , done: function (res) {
                if (res.code == 400) {
                    let excel_tip1 = layer.msg("正在生成中", {time: 20000});
                    $.ajax({
                        url: "/sources/img2excel/",
                        type: "POST",
                        data: {idname: 'abc'},
                        success: function (res) {
                            if (res.code == 400) {
                                layer.close(excel_tip1);
                                let excel_html = res.data.excel_html;
                                let resurl = '/static/img2word/' + res.data.imgpath + '.jpg';
                                layer.open({
                                    title: "识别结果",
                                    type: 2,
                                    content: "/sources/img2wordRes/#resTxt",
                                    area: ['80%', '80%'],
                                    btn: ['下载', '关闭'],
                                    {#父页面向子页面传值#}
                                    success: function (layero, index) {
                                        let body = layer.getChildFrame('body', index);
                                        body.find('#resTxt').append(excel_html);
                                        body.find('#pic').attr('src', resurl);
                                    },
                                    btn1: function (index, layero) {
                                        $(".layui-layer-btn0").attr("href", "/sources/excel_download/");
                                        return false
                                    },
                                    closeBtn: 0,
                                    end: function () {
                                        $.ajax({
                                            url: "/sources/img2excel/",
                                            type: "GET",
                                            data: {idname: 'abc'},
                                            success: function (res) {
                                                window.location.reload();
                                            }
                                        })
                                    }
                                });
                            } else {
                                layer.close(excel_tip1);
                                $("#img2excel").empty();
                                $("#excel_tips").remove();
                                excel_html = "<div id='excel_tips' class='layui-row' style='margin-top:10px;'><span class='layui-btn layui-btn-danger'>图片中没有表格或出错</span></div>";
                                $("#img2excel").append(excel_html);
                            }
                        },
                        error: function () {
                            layer.msg("服务器内部错误", {time: 2000})
                        }
                    })
                } else {

                }
            },
            error: function (res) {
                console.log(res)
            }
        });


    });
</script>
<script>
    if ($('#limit_count').text() <= 0) {
        $('#test7').addClass('layui-btn-disabled');
        $('#test7').removeClass('layui-btn-normal');
        $('#test7').attr('disabled', 'disabled');
        $('#test7').attr('title', '次数限制，明天再试。');
        $('#limit_count').addClass('layui-bg-gray');
    } else {

    }

</script>
<script>
    $(document).on('click', '.source_core', function () {
        var source_type = ($(this).attr("source-type"));
        let source_uri = '/sources/?question_type=' + source_type;
        {#let source_uri = '/sources/sourceExcel/?question_type=' + source_type;#}
        $.ajax({
            url: source_uri,
            type: "GET",
            success: function (res) {
                layer.open({
                    title: "资源列表",
                    type: 2,
                    content: source_uri,
                    shade: [0.8, '#393d49'],
                    shadeClose: true,
                    area: ['100%', '100%'],
                    btn: ['关闭'],
                    {#父页面向子页面传值#}
                    success: function (layero, index) {
                        let body = layer.getChildFrame('body', index);
                        {#body.find('#source_type').html(source_type);#}
                    },
                    closeBtn: 1,
                });
            }
        })
    })
</script>
{#百度统计#}
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?545c4a17e5c5da48dec6dee3f9e1868a";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<script>
    let suggest_submit = $("#Inputsubmit");
    var limit = true;
    suggest_submit.click(function () {
        let suggest_email = $("#InputEmail").val();
        let suggest_user = $("#InputName").val();
        let suggest_message = $("#InputMessage").val();
        let suggest_data = {};
        if (suggest_email == "" && suggest_message == "") {
            layer.msg("邮箱和内容不能空！！", {time: 2000});
            return false
        }
        if (suggest_email == "") {
            layer.msg("邮箱不能为空！", {time: 2000});
            return false
        }
        if (suggest_message == "") {
            layer.msg("内容不能为空！", {time: 2000});
            return false
        }
        suggest_data["suggest_email"] = suggest_email;
        suggest_data["suggest_user"] = suggest_user;
        suggest_data["suggest_message"] = suggest_message;
        $(this).attr('disabled', 'disabled');
        var that_ = $(this);
        if (limit) {
            $.ajax({
                url: "/api/v1/suggestions/",
                type: "POST",
                data: suggest_data,
                success: function (res) {
                    limit = false;
                    that_.removeAttr('disabled');
                    if (res.code == 202) {
                        layer.msg("消息已收到", {time: 2000})
                    } else {
                        layer.msg("消息发送失败哦，稍后再试！", {time: 2000})
                    }
                },
                error: function (res) {
                    limit = true;
                    that_.removeAttr('disabled');
                    layer.msg("提交次数超限，明天再试！或者登陆可提升限额", {time: 2000})
                }
            })
        } else {
            that_.removeAttr('disabled');
            layer.msg("请勿重复提交", {time: 2000})
        }

    })
</script>
{#<script>#}
{#    $("#facereg").click(function () {#}
{#        let login_type = $(this).attr("login-data");#}
{#        let face_url = '/test/?login_type=' + login_type;#}
{#        alert(face_url)#}
{#        layer.open({#}
{#            title: "资源列表",#}
{#            type: 2,#}
{#            content: face_url,#}
{#            shade: [0.8, '#393d49'],#}
{#            shadeClose: true,#}
{#            area: ['100%', '100%'],#}
{#            btn: ['关闭'],#}
{#父页面向子页面传值#}
{#            success: function (layero, index) {#}
{#                let body = layer.getChildFrame('body', index);#}
{#            },#}
{#            closeBtn: 1,#}
{#        });#}
{#    })#}
{#</script>#}
<script>
    $.ajax({
        url: "/api/v1/blogs/",
        type: "GET",
        success: function (res) {
            let blog_html = '';
            let blogs_data = ((res.data).slice(0, 3));
            blogs_data.forEach(function (value, i, blogs_data) {
                if (i % 2 == 0) {
                    var en_html = '<div class="content-section-a">' +
                        '<div class="container"><div class="row"><div class="col-sm-6 pull-right wow fadeInRightBig">' +
                        '<img class="img-responsive " src="' + blogs_data[i].source_img + '" alt=""></div>' +
                        '<div class="col-sm-6 wow fadeInLeftBig" data-animation-delay="200">' +
                        '<h3 class="section-heading">' + blogs_data[i].title + '</h3>' +
                        '<div class="sub-title lead3">发表时间:' + blogs_data[i].created_time.substr(0, 10) +
                        '</div><p class="lead">' + (value.content).replace(/"/g, "'").substr(0, 200) + '·····' +
                        '</p><p><a class="btn btn-embossed btn-primary" href="javascript:void(0)" role="button" style="margin-right:10px" onclick="watchblog(' + blogs_data[i].id + ')">查看文章</a>' +
                        '<a class="btn btn-embossed btn-info" href="#" role="button">更多博客</a>' +
                        '</p></div></div></div></div>';
                } else {
                    var en_html = '<div class="content-section-b" style="background-color:white">' +
                        ' <div class="container">' +
                        '<div class="row">' +
                        '<div class="col-sm-6 wow fadeInLeftBig">' +
                        '<div id="owl-demo-1">' +
                        '<div align="center">' +
                        '<img class="img-responsive img-rounded" src="' + blogs_data[i].source_img + '" alt="">' +
                        '</div></div></div>' +
                        '<div class="col-sm-6 wow fadeInRightBig" data-animation-delay="200">' +
                        '<h3 class="section-heading">' + blogs_data[i].title + '</h3>' +
                        '<div class="sub-title lead3">发表时间:' + blogs_data[i].created_time.substr(0, 10) +
                        '</div><p class="lead">' + (blogs_data[i].content).substr(0, 50) + '·····' +
                        '<p><a class="btn btn-embossed btn-primary" href="javascript:void(0)" onclick="watchblog(' + blogs_data[i].id + ')" role="button" style="margin-right:10px">查看文章</a>' +
                        '<a class="btn btn-embossed btn-info" href="#" role="button">更多博客</a></p>' +
                        '</div></div></div></div>'
                }
                blog_html = blog_html + en_html;
            });

            $("#useit").append(blog_html)
        }

    });

    function watchblog(id) {
        $.ajax({
            url: "/api/v1/blogs/" + id,
            type: "GET",
            success: function (res) {
                console.log(res.data)
                layer.open({
                    title: "博客",
                    type: 2,
                    content: '/courses/blog/',
                    area: ['100%', '100%'],
                    btn: ['关闭'],
                    {#父页面向子页面传值#}
                    success: function (layero, index) {
                        let body = layer.getChildFrame('body', index);
                        {#body.find('#source_type').html(source_type);#}
                        body.find('#blog_title').html(res.data[0].title);
                        body.find('#blog_info').html(res.data[0].content);
                    },
                    closeBtn: 1,
                });
            }
        })
    }
</script>

</body>

</html>
