<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>地图</title>
    <link rel="icon" href="img/favicon.png">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/ionicons/4.0.0-18/collection/icon/icon.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/leaflet/1.3.1/leaflet.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/leaflet/1.3.1/leaflet.js"></script>
    <script src="https://cdn.bootcss.com/esri-leaflet/2.1.3/esri-leaflet.js"></script>
    <script src="https://cdn.bootcss.com/esri-leaflet-geocoder/2.2.9/esri-leaflet-geocoder.js"></script>
    <link href="https://cdn.bootcss.com/esri-leaflet-geocoder/2.2.9/esri-leaflet-geocoder.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link href="https://cdn.bootcss.com/leaflet.fullscreen/1.4.4/Control.FullScreen.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/leaflet.fullscreen/1.4.4/Control.FullScreen.js"></script>
    <link rel="stylesheet" href="/static/css/mapstyle.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
    <style>
    html,body{
        width: 100%;
        height: 100%;
        padding-bottom: 0px;
    }
    #app{
        width: 100%;
        height: 100%;
    }
    </style>
</head>

<body>
    <div id="app">
            <div  id="map">

            </div>
    </div>
    <script>
        function mapMain() {
            var map = new L.Map('map', {
                fullscreenControl: true,
                fullscreenControlOptions: {
                    position: 'topleft'
                }
            });
            map.setView([26.211934100791698, 116.29251065746944], 9);
            customBaselayer = L.esri.tiledMapLayer({
                url: "http://cache1.arcgisonline.cn/arcgis/rest/services/ChinaOnlineCommunity/MapServer"
            }).addTo(map);
            var homeMarker = L.AwesomeMarkers.icon({
                prefix: 'fa',
                icon: 'home',
                markerColor: 'blue',
                iconColor: 'white'
            });
            L.marker([26.211934100791698, 116.29251065746944], {
                icon: homeMarker
            }).addTo(map)
                .bindPopup('这是我的家乡')
                .openPopup();
            var searchControl = L.esri.Geocoding.geosearch().addTo(map);
            var results = L.layerGroup().addTo(map);
            searchControl.on('results', function (data) {
                results.clearLayers();
                for (var i = data.results.length - 1; i >= 0; i--) {
                    results.addLayer(L.marker(data.results[i].latlng));
                }
            });
        }
        mapMain()
    </script>
</body>

</html>
