<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Your Landing Page Title</title>
<link href="/static/css/bootstrap.css" rel="stylesheet">
<link href="/static/css/resultyle.css" rel="stylesheet">
<link rel="icon" href="images/favicons/favicon.png">
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        html,body{
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body data-spy="scroll" data-target=".navMenuCollapse">
<div id="wrap">
	<nav class="navbar bg-color1 dark-bg">
		<div class="container"> <a class="navbar-brand goto" href="#">
            <img src="/static/images/logo.png" height="25" alt="logo">看图识字</a>
		</div>
	</nav>
	<section id="content-left" class="bg-color3">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-push-6">
                    <img class="screen" id="pic" src=" " alt="识别的图片" style="height:200px;width:auto">
                </div>
				<div class="col-md-5 col-md-pull-6">
					<h2>识图结果</h2>
					<h4 class="sub-title">Page Builder</h4>
					<p><div id="resTxt"></div></p>
				</div>
			</div>
		</div>
	</section>
</div>
</body>
</html>